#foreground {
  position: absolute;
  margin-top: 145px;
}

#transparent {
  width: 1420px;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
}

#menu {
  width: 1000px;
  height: 500px;
  margin: 150px 0px 0px 210px;
  background-color: rgba(65, 157, 120, 0.6);
  visibility: 1;
  border-radius: 10px;
  display: block;
  /* display: block; */
}

#start-button {
  margin: 550px 210px 100px 865px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-family: "Playfair Display SC", serif;
  font-size: 20px;
  background-color: rgba(65, 157, 120, 1);
  color: white;
  display: block;
}

#restart-button {
  margin: 550px 210px 100px 865px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-family: "Playfair Display SC", serif;
  font-size: 20px;
  background-color: rgba(65, 157, 120, 1);
  color: white;
  display: none;
}

#start-button,
#restart-button:hover {
  cursor: pointer;
}

#start-button:active,
#start-button:focus,
#start-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box-shadow {
  box-shadow: 4px 4px 10px #60656f;
}

.hidden {
  display: none;
}

.container {
  position: relative;
}

#welcome h1,
p,
#high-score h1 {
  font-family: "Playfair Display SC", serif;
  color: white;
  display: block;
}

#high-score h1 {
  margin: 185px 760px 215px 255px;
  font-size: 40px;
  width: 350px;
  height: 30px;
  text-align: center;
}

#welcome h1 {
  font-size: 40px;
  margin: 185px 210px 215px 785px;
  width: 350px;
  height: 30px;
  text-align: center;
}

#welcome p {
  font-size: 25px;
  margin: 270px 285px 130px 755px;
  text-align: center;
  width: 400px;
  height: 200px;
}

#container canvas,
#overlay,
#start-button,
#menu,
#transparent,
#welcome h1,
#welcome p,
#high-score h1,
#overlay2,
#gameOver,
#restart-button,
.end p,
#transparent2 {
  position: absolute;
}

#overlay {
  font-family: "Playfair Display SC", serif;
  color: white;
  margin-left: 1200px;
  width: 150px;
  height: 10px;
  text-align: right;
  margin-top: 30px;

  font-size: 20px;
  display: block;
}

#transparent2 {
  width: 1420px;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
}

#overlay2 {
  font-family: "Playfair Display SC", serif;
  color: white;
  margin-left: 1200px;
  width: 150px;
  height: 10px;
  text-align: right;
  margin-top: 60px;
  font-size: 20px;
  display: block;
}

#music {
  display: none;
}

#gameOver {
  width: 1000px;
  height: 500px;
  margin: 150px 0px 0px 210px;
  background-color: rgba(65, 157, 120, 0.6);
  /* visibility: 1; */
  border-radius: 10px;
  display: none;
}

.toShow {
  display: block;
}

.end p {
  font-size: 25px;
  margin: 270px 285px 130px 810px;
  text-align: center;
  width: 300px;
  height: 200px;
  display: none;
}
